* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(opensans.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(.woff2) format("opensanseb.woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

::selection {
  background: rgba(0, 0, 0, 0); }

dl,
ul {
  list-style: none; }

dl dt {
  font-family: "Helvetica Neue", Helvetica, sans-serif, "Hiragino Kaku Gothic ProN", YuGothic, Meiryo; }

body {
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, sans-serif, "Hiragino Kaku Gothic ProN", YuGothic, Meiryo; }

#container {
  width: 100vmax;
  height: 100vmin;
  position: relative;
  transition: background 0.4s ease 0s; }
  #container.warn {
    background-color: #ff4f4f; }
  #container.caution {
    background-color: #ffe44f; }
  #container.shoot {
    background-color: white; }

#timebox {
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 80.5vmin; }
  #timebox #mmc {
    margin-left: 4.86vmin; }
  #timebox #configbut {
    position: absolute;
    top: 2.777vmin;
    left: 1.389vmin;
    width: 8.33vmin;
    height: 8.33vmin;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../images/equalizer.svg);
    opacity: 0.2;
    cursor: pointer;
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; }
    #timebox #configbut:active, #timebox #configbut:focus, #timebox #configbut.active {
      outline: 0;
      opacity: 1; }
  #timebox #timerconfigbut {
    position: absolute;
    top: 2.777vmin;
    left: 18.06vmin;
    width: 8.33vmin;
    height: 8.33vmin;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../images/chronometer_b.svg);
    opacity: 0.2;
    cursor: pointer;
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; }
    #timebox #timerconfigbut:active, #timebox #timerconfigbut:focus, #timebox #timerconfigbut.active {
      outline: 0;
      opacity: 1; }

#endbox {
  position: absolute;
  top: 12.5vmin;
  left: 0.694vmin;
  width: 28.472vmin;
  height: 35.416vmin;
  text-align: center;
  background-color: #333333;
  color: #fff;
  padding-top: 1.389vmin;
  border-radius: 0 4.167vmin;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }
  #endbox .subd {
    font-size: 5.555vmin; }
  #endbox #endnum {
    height: 27.778vmin;
    line-height: 27.778vmin;
    font-size: 20.833vmin;
    font-weight: 600; }

ul#standset {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  width: 100%;
  height: 16.667vmin;
  bottom: 0; }
  ul#standset li {
    flex-grow: 1;
    position: relative;
    line-height: 16.667vmin;
    font-size: 12.5vmin;
    padding: 0.694vmin 2.777vmin 0;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.2); }
    ul#standset li.byRignt {
      text-align: right; }
      ul#standset li.byRignt.active {
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%); }
    ul#standset li.active {
      border-bottom: 1.389vmin solid #333333;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%); }
    ul#standset li span.active {
      color: #333333; }

ul#dotindex {
  width: 55.555vmin;
  list-style: none;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 12.5vmin;
  left: 50%;
  transform: translateX(-50%); }
  ul#dotindex li {
    width: 2.777vmin;
    height: 2.777vmin;
    border-radius: 50%;
    background-color: rgba(51, 51, 51, 0.2);
    margin: 2.777vmin; }
    ul#dotindex li.active {
      background-color: #333333; }

#belt {
  height: 41.667vmin;
  width: 100%;
  position: absolute;
  top: 18.06vmin;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  z-index: 300;
  animation: toast 0.5s cubic-bezier(0.13, 0.6, 0.25, 1) 0s; }
  #belt > div {
    font-size: 9.722vmin;
    line-height: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%); }

@keyframes toast {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

#timerconsole.console {
  height: auto;
  width: 69.444vmin; }
#timerconsole #addgametime ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  padding-left: 9.722vmin; }

.console {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333333;
  width: 83.333vmin;
  height: 97.222vmin;
  color: #fff;
  z-index: 200;
  border-radius: 6.944vmin;
  border: 1.111vmin solid #fff;
  padding: 2.777vmin;
  font-size: 3.472vmin;
  box-shadow: 0px 0px 2.777vmin 6px rgba(0, 0, 0, 0.35);
  overflow: hidden; }
  .console dl dt {
    padding: 2.777vmin 0 1.389vmin;
    font-size: 3.472vmin;
    line-height: 3.472vmin; }
  .console hr {
    margin: 2.777vmin 0 0;
    border-style: solid;
    border-width: 0 0 0.277vmin 0;
    border-color: #454545; }
  .console .flipup,
  .console .flipdown {
    text-align: center; }
    .console .flipup:before,
    .console .flipdown:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid; }
  .console .flipup:before {
    border-width: 0 2.777vmin 2.777vmin 2.777vmin;
    border-color: transparent transparent #fff transparent; }
  .console .flipdown:before {
    border-width: 2.777vmin 2.777vmin 0 2.777vmin;
    border-color: #fff transparent transparent transparent; }
  .console .flipnum {
    background-color: #fff;
    font-size: 11.111vmin;
    line-height: 11.111vmin;
    text-align: center;
    height: 11.111vmin;
    width: 6.944vmin;
    border-radius: 1.389vmin;
    color: #000;
    margin: 2.777vmin 0.694vmin;
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600; }
    .console .flipnum:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
      width: 100%;
      border-bottom: 0.4166vmin solid rgba(0, 0, 0, 0.3);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.2))); }
  .console .togglebase {
    display: inline-block;
    width: 16.667vmin;
    height: 8.33vmin;
    background-color: #343434;
    margin-top: 4.167vmin;
    margin-left: 2.777vmin;
    border-radius: 4.167vmin;
    border: 0.555vmin solid #fff;
    padding-left: 4.167vmin;
    position: relative;
    transition: background-color 0.3s ease 0s; }
  .console .togglebase.active {
    background-color: #fff; }
  .console .togglebase .togglenob {
    position: absolute;
    width: 8.33vmin;
    height: 8.33vmin;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    left: 50%;
    top: -0.555vmin;
    transition: left 0.3s ease 0s;
    box-shadow: 0 0 0.694vmin 1px rgba(0, 0, 0, 0.23); }
  .console .togglebase.active .togglenob {
    left: 0; }
  .console ul#timeAndEnd {
    display: flex;
    justify-content: space-around; }
    .console ul#timeAndEnd > li {
      flex-grow: 1; }
  .console #gametime ul {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse; }
  .console #orderofplay ul {
    display: flex;
    justify-content: center; }
    .console #orderofplay ul li {
      width: 22.222vmin;
      border: 0.277vmin solid #fff;
      height: 6.944vmin;
      line-height: 6.944vmin;
      text-align: center;
      border-left: none; }
      .console #orderofplay ul li.active {
        background-color: #fff;
        color: #333333; }
      .console #orderofplay ul li:first-child {
        border-left: 0.277vmin solid #fff;
        border-radius: 1.389vmin 0 0 1.389vmin; }
      .console #orderofplay ul li:nth-last-of-type(1) {
        border-radius: 0 1.389vmin 1.389vmin 0; }
  .console #arrowsup ul {
    display: flex;
    justify-content: center; }
    .console #arrowsup ul li {
      width: 22.222vmin;
      border: 0.277vmin solid #fff;
      height: 6.944vmin;
      line-height: 6.944vmin;
      text-align: center;
      border-left: none; }
      .console #arrowsup ul li.active {
        background-color: #fff;
        color: #333333; }
      .console #arrowsup ul li:first-child {
        border-left: 0.277vmin solid #fff;
        border-radius: 1.389vmin 0 0 1.389vmin; }
      .console #arrowsup ul li:nth-last-of-type(1) {
        border-radius: 0 1.389vmin 1.389vmin 0; }
  .console .closeconfig {
    position: absolute;
    width: 11.111vmin;
    height: 11.111vmin;
    top: 0.694vmin;
    right: 0.694vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/close.svg);
    cursor: pointer;
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; }
    .console .closeconfig:active, .console .closeconfig:focus {
      outline: 0;
      background-color: #c7c7c7; }
  .console .setconfig {
    position: absolute;
    width: 16.667vmin;
    height: 16.667vmin;
    bottom: 5.555vmin;
    right: 2.777vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/chronometer.svg);
    cursor: pointer;
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; }
    .console .setconfig:active, .console .setconfig:focus {
      outline: 0;
      opacity: 0.3; }
  .console .selectsound {
    position: absolute;
    height: 5vmax;
    width: 5vmax;
    background-image: url(../images/sound.svg);
    background-repeat: no-repeat;
    background-size: contain;
    right: 15vmax;
    bottom: 5vmax; }

#selectSoundBase {
  position: absolute;
  bottom: 0;
  background-color: #333;
  width: 76vmin;
  height: 27vmin;
  z-index: 1000;
  border-radius: 6.944vmin 6.944vmin 0 0;
  border: 1.111vmin solid #fff;
  border-bottom: none;
  padding: 2.777vmin; }
  #selectSoundBase ul {
    display: flex;
    justify-content: center; }
    #selectSoundBase ul li {
      min-width: 22.222vmin;
      border: 0.277vmin solid #fff;
      height: 6.944vmin;
      line-height: 6.944vmin;
      text-align: center;
      border-left: none;
      padding: 0 3vmin; }
      #selectSoundBase ul li:first-child {
        border-left: 0.277vmin solid #fff;
        border-radius: 1.389vmin 0 0 1.389vmin; }
      #selectSoundBase ul li:nth-last-of-type(1) {
        border-radius: 0 1.389vmin 1.389vmin 0; }
      #selectSoundBase ul li.active {
        background-color: #fff;
        color: #333333; }

#ondisplayCtrl {
  position: absolute;
  z-index: 10000;
  top: 48.194vmin;
  left: 0.694vmin;
  width: 28.472vmin;
  height: 9.722vmin;
  border-radius: 4.167vmin 0;
  background-color: #333333; }
  #ondisplayCtrl ul {
    display: flex;
    justify-content: space-around;
    padding: 2.083vmin; }
    #ondisplayCtrl ul li {
      height: 5.555vmin;
      width: 5.555vmin;
      border-radius: 0.694vmin;
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center; }
      #ondisplayCtrl ul li.rep {
        background-size: 70%; }
        #ondisplayCtrl ul li.rep.enable {
          background-image: url(../images/replay.svg); }
        #ondisplayCtrl ul li.rep.disable {
          background-image: url(../images/replay.svg);
          opacity: 0.3; }
      #ondisplayCtrl ul li.playpause.play {
        background-image: url(../images/play-button.svg); }
      #ondisplayCtrl ul li.playpause.pause {
        background-image: url(../images/pause.svg); }
      #ondisplayCtrl ul li.playpause.redume {
        background-image: url(../images/play-button.svg); }
      #ondisplayCtrl ul li.next.nextend {
        background-image: url(../images/nextready.svg); }
      #ondisplayCtrl ul li.next.forward {
        background-image: url(../images/forward.svg);
        background-size: 85%; }
      #ondisplayCtrl ul li.next.stop {
        background-image: url(../images/stop.svg); }
      #ondisplayCtrl ul li.next.default {
        background-image: url(../images/next.svg); }

#appDiv {
  font-size: 2.777vmin; }
