* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(opensans.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(.woff2) format("opensanseb.woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
::selection {
  background: transparent; }

dl,
ul {
  list-style: none; }

dl dt {
  font-family: "Helvetica Neue", Helvetica, sans-serif, "Hiragino Kaku Gothic ProN", YuGothic, Meiryo; }

body {
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, sans-serif, "Hiragino Kaku Gothic ProN", YuGothic, Meiryo;
  height: 100vh;
  width: 100vw;
  background-color: #212121; }

#app {
  display: none;
  overflow: hidden;
  right: 0;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translateY(-50%); }

@media screen and (orientation: portrait) {
  #app {
    height: 100vh; } }
@media screen and (orientation: landscape) {
  #app {
    height: 56.25vmax; } }
@media screen and (orientation: portrait) {
  #default, #tournament {
    display: none; } }
#tournament {
  width: 100vw;
  height: 56.25vmax;
  background-image: url(../images/transparent/diamond-upholstery.png);
  background-size: 22.5vmax; }
  #tournament.warn {
    background-color: #ff1c1c; }
  #tournament.caution {
    background-color: #ffe44f; }
  #tournament.shoot {
    background-color: #1b42c5; }
  #tournament.black {
    background-color: #000; }
  #tournament.white {
    background-color: #fff; }
  #tournament .ondisplayCtrl {
    bottom: 11.531vmax;
    left: 50%;
    border-radius: 1.125vmax 1.125vmax 0 0;
    transform: translateX(-50%);
    height: 3.938vmax;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.18), inset -1px 1px 1px rgba(0, 0, 0, 0.25); }
    #tournament .ondisplayCtrl ul {
      padding: 0.001vmax; }
  #tournament #tournament-timebox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0.844vmax; }
    #tournament #tournament-timebox .clock {
      position: relative;
      margin-left: 0.281vmax; }
  #tournament #tournamentMatrixBase {
    position: absolute;
    bottom: 0;
    height: 11.813vmax;
    width: 100%;
    background-color: #212121;
    padding: 0.281vmax;
    border-top: 0.152vmax solid #565656; }
    #tournament #tournamentMatrixBase .tournament_endbox {
      position: absolute;
      background-color: #000;
      top: inherit;
      height: 11.25vmax;
      border-radius: 1.125vmax;
      width: 16vmax;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0.113vmax 0.113vmax 0vmax 0.113vmax rgba(255, 255, 255, 0.2), -0.112vmax -0.112vmax 0vmax 0.113vmax rgba(0, 0, 0, 0.3); }
      #tournament #tournamentMatrixBase .tournament_endbox ul.standtip {
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 1.125vmax; }
        #tournament #tournamentMatrixBase .tournament_endbox ul.standtip.l {
          left: 0; }
        #tournament #tournamentMatrixBase .tournament_endbox ul.standtip.r {
          right: 0; }
        #tournament #tournamentMatrixBase .tournament_endbox ul.standtip li {
          display: block;
          width: 1.125vmax;
          height: 1.125vmax;
          background-color: #4b2a12;
          margin-bottom: 1.125vmax; }
          #tournament #tournamentMatrixBase .tournament_endbox ul.standtip li.active {
            background-color: #ff8b17; }
      #tournament #tournamentMatrixBase .tournament_endbox .subd {
        font-size: 2.25vmax;
        font-weight: bold;
        line-height: 2.25vmax;
        color: white;
        text-align: center;
        padding-top: 0.563vmax; }
      #tournament #tournamentMatrixBase .tournament_endbox .endnum {
        height: 7.875vmax; }
    #tournament #tournamentMatrixBase .tnum {
      position: absolute;
      font-size: 3.375vmax;
      font-weight: bold;
      color: white;
      bottom: 0.563vmax; }
      #tournament #tournamentMatrixBase .tnum.l {
        left: 23.625vmax; }
      #tournament #tournamentMatrixBase .tnum.r {
        right: 23.625vmax; }
    #tournament #tournamentMatrixBase .dotlamp {
      position: absolute;
      background-color: #000;
      border-radius: 1.125vmax;
      height: 4.5vmax;
      width: 19.125vmax;
      top: 1.125vmax;
      overflow: hidden;
      padding: 0.281vmax; }
      #tournament #tournamentMatrixBase .dotlamp.l1 {
        left: 21.938vmax; }
      #tournament #tournamentMatrixBase .dotlamp.l2 {
        right: 21.938vmax; }
    #tournament #tournamentMatrixBase .remtimebox {
      position: absolute;
      background-color: #212121;
      width: 20.25vmax;
      height: 9.563vmax;
      border-radius: 1.125vmax;
      top: 1.125vmax;
      overflow: hidden;
      box-shadow: 0.113vmax 0.113vmax 0vmax 0.113vmax rgba(255, 255, 255, 0.2), -0.112vmax -0.112vmax 0vmax 0.113vmax rgba(0, 0, 0, 0.3); }
      #tournament #tournamentMatrixBase .remtimebox.t1 {
        left: 1.125vmax; }
      #tournament #tournamentMatrixBase .remtimebox.t2 {
        right: 1.125vmax; }
  #tournament #tournamentDropDown {
    position: absolute;
    top: 14.625vmax;
    padding: 1.688vmax 0.563vmax;
    width: 5.063vmax;
    height: 12.375vmax;
    background-color: #212121;
    border-radius: 1.125vmax;
    overflow: hidden;
    box-shadow: inset 0.113vmax 0.113vmax 0vmax 0.113vmax rgba(255, 255, 255, 0.15), inset -0.112vmax -0.112vmax 0vmax 0.113vmax rgba(0, 0, 0, 0.3), 0.152vmax 0.152vmax 0.304vmax 0vmax rgba(0, 0, 0, 0.7); }
    #tournament #tournamentDropDown.l {
      left: -5.625vmax; }
    #tournament #tournamentDropDown.r {
      right: -5.625vmax; }
  #tournament #mmc {
    position: absolute;
    top: 31.5vmax;
    left: 0; }

#default {
  perspective: 112.5vmax;
  width: 100vmax;
  height: 56.25vmax;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/transparent/diamond-upholstery.png);
  background-size: 22.5vmax; }
  #default.warn {
    background-color: #ff1c1c; }
  #default.caution {
    background-color: #ffe44f; }
  #default.shoot {
    background-color: #1b42c5; }
  #default.black {
    background-color: #000; }
  #default.white {
    background-color: #fff; }
  #default .ondisplayCtrl {
    left: 47.25vmax;
    bottom: 2.25vmax;
    border-radius: 1.125vmax;
    width: 21.938vmax;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.18), inset -1px -1px 1px rgba(0, 0, 0, 0.25); }

#timebox {
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 45.281vmax; }
  #timebox #inner {
    position: absolute;
    left: 16.875vmax;
    top: 6.75vmax; }
  #timebox .clock {
    position: relative; }
  #timebox #mmc {
    position: absolute;
    top: 30.938vmax;
    left: 2.813vmax; }

#keyinfobut {
  position: absolute;
  width: 16.875vmax;
  height: 16.875vmax;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%; }
  #keyinfobut.default {
    right: -8.437vmax;
    bottom: -8.437vmax; }
    #keyinfobut.default .inner {
      top: 3.375vmax; }
  #keyinfobut.tournament {
    right: -8.437vmax;
    top: -8.437vmax; }
    #keyinfobut.tournament .inner {
      bottom: -9.562vmax; }
  #keyinfobut .inner {
    position: relative;
    width: 5.625vmax;
    height: 5.625vmax;
    background-image: url(../images/key.svg);
    background-size: 70%;
    left: 2.813vmax;
    background-repeat: no-repeat; }

#configbut {
  position: absolute;
  bottom: 2.813vmax;
  left: 0.781vmax;
  width: 5.625vmax;
  height: 5.625vmax;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #212121;
  border-radius: 50%;
  border: 0.563vmax solid #4b2a12;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.48), rgba(255, 255, 255, 0.28));
  -webkit-tap-highlight-color: transparent !important;
  box-shadow: -0.112vmax -0.112vmax 0.113vmax 0vmax rgba(0, 0, 0, 0.38), 0.113vmax 0.113vmax 0.113vmax 0vmax rgba(255, 255, 255, 0.38), inset 0.113vmax 0.113vmax 0.113vmax 0vmax rgba(255, 255, 255, 0.3), inset -0.112vmax -0.112vmax 0.113vmax 0vmax rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  #configbut.tournament {
    bottom: inherit;
    top: 3.375vmax;
    left: 2.813vmax; }
  #configbut:active, #configbut:focus, #configbut.active {
    outline: 0;
    border-color: #ff8b17; }
  #configbut .butInner {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    opacity: 0.6;
    background-image: url(../images/chronometer.svg); }

#timerconfigbut {
  position: absolute;
  bottom: 2.813vmax;
  left: 10.125vmax;
  width: 5.625vmax;
  height: 5.625vmax;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #212121;
  border-radius: 50%;
  border: 0.563vmax solid #4b2a12;
  background-image: url(../images/plus.svg);
  -webkit-tap-highlight-color: transparent !important;
  box-shadow: -0.112vmax -0.112vmax 0.113vmax 0vmax rgba(0, 0, 0, 0.38), 0.113vmax 0.113vmax 0.113vmax 0vmax rgba(255, 255, 255, 0.38), inset 0.113vmax 0.113vmax 0.113vmax 0vmax rgba(255, 255, 255, 0.3), inset -0.112vmax -0.112vmax 0.113vmax 0vmax rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  #timerconfigbut:active, #timerconfigbut:focus, #timerconfigbut.active {
    outline: 0;
    border-color: #ff8b17; }
  #timerconfigbut .butInner {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.48), rgba(255, 255, 255, 0.28)); }

.fbut {
  position: absolute;
  bottom: 16vmax;
  width: 5.625vmax;
  height: 5.625vmax;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #212121;
  border-radius: 50%;
  border: 0.563vmax solid #4b2a12;
  -webkit-tap-highlight-color: transparent !important;
  box-shadow: -0.112vmax -0.112vmax 0.113vmax 0vmax rgba(0, 0, 0, 0.38), 0.113vmax 0.113vmax 0.113vmax 0vmax rgba(255, 255, 255, 0.38), inset 0.113vmax 0.113vmax 0.113vmax 0vmax rgba(255, 255, 255, 0.3), inset -0.112vmax -0.112vmax 0.113vmax 0vmax rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .fbut.tournament {
    bottom: inherit;
    top: 3.375vmax;
    left: 2.813vmax; }
  .fbut.l {
    left: 2.813vmax; }
  .fbut.r {
    right: 2.813vmax; }
  .fbut:active, .fbut:focus, .fbut.active {
    outline: 0;
    border-color: #ff8b17; }
  .fbut:before {
    content: 'F';
    line-height: 4.625vmax;
    font-weight: bold;
    font-size: 3vmax;
    text-align: center;
    width: 100%;
    display: block;
    color: #fff;
    position: absolute;
    top: 0; }
  .fbut:after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.48), rgba(255, 255, 255, 0.28)); }

.endbox {
  position: absolute;
  top: 6.75vmax;
  left: 0;
  width: 16.016vmax;
  height: 49.5vmax;
  text-align: center;
  background-color: #212121;
  color: #fff;
  padding-top: 0.781vmax;
  border-radius: 0 1.688vmax 0 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  box-shadow: 0.113vmax 0.113vmax 0.304vmax 0.113vmax black; }
  .endbox .subd {
    font-size: 2.25vmax; }
  .endbox #endnumWrapper {
    position: relative; }
    .endbox #endnumWrapper .endnum {
      height: 9.563vmax; }
    .endbox #endnumWrapper ul.standtip {
      position: absolute;
      top: 0;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      width: 1.125vmax; }
      .endbox #endnumWrapper ul.standtip.l {
        left: 0; }
      .endbox #endnumWrapper ul.standtip.r {
        right: 0; }
      .endbox #endnumWrapper ul.standtip li {
        display: block;
        width: 1.125vmax;
        height: 1.125vmax;
        background-color: #4b2a12; }
        .endbox #endnumWrapper ul.standtip li.active {
          background-color: #ff8b17; }
  .endbox #dotStatus {
    position: absolute;
    top: 24.75vmax;
    width: 100%;
    height: 5.063vmax;
    background-color: #000000;
    padding: 0 1.406vmax; }
  .endbox .dotstand {
    height: 9.563vmax;
    top: 29.813vmax;
    width: 100%;
    background-color: #000;
    position: absolute; }

#dropDown {
  position: absolute;
  left: 10.969vmax;
  top: 13.5vmax;
  padding: 1.688vmax 0.563vmax;
  width: 5.063vmax;
  height: 10.688vmax;
  background-color: #212121;
  overflow: hidden;
  box-shadow: inset 0.113vmax 0.113vmax 0vmax 0.113vmax rgba(255, 255, 255, 0.15), inset -0.112vmax -0.112vmax 0vmax 0.113vmax rgba(0, 0, 0, 0.3); }

#playlamp {
  position: absolute;
  left: 0.731vmax;
  top: 13.5vmax;
  width: 9.563vmax;
  height: 10.688vmax;
  background-color: #000;
  border-radius: 1.125vmax;
  box-shadow: 0.113vmax 0.113vmax 0vmax 0.113vmax rgba(255, 255, 255, 0.2), -0.112vmax -0.112vmax 0vmax 0.113vmax rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #playlamp > div {
    font-size: 0;
    line-height: 0; }

#belt {
  height: 23.438vmax;
  width: 100%;
  position: absolute;
  top: 28.125vmax;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  z-index: 300;
  animation: toast 0.5s cubic-bezier(0.13, 0.6, 0.25, 1) 0s; }
  #belt > div {
    font-size: 5.469vmax;
    line-height: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%); }

@keyframes toast {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#timerconsole.console {
  height: auto;
  width: 39.062vmax; }
#timerconsole #addgametime ul {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding-top: 0.563vmax;
  background-color: #212121;
  border-radius: 1.125vmax;
  border-style: outset;
  border-width: 0.152vmax;
  border-color: #575757; }

.console {
  background-image: url(../images/transparent/carbon-fibre.png);
  background-size: 4.5vmax;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #808080;
  width: 48.375vmax;
  color: #fff;
  z-index: 1200;
  border-radius: 1.688vmax;
  border: 0.625vmax solid #393939;
  padding: 1.125vmax 2.813vmax 3.938vmax 2.813vmax;
  font-size: 1.953vmax;
  box-shadow: 0vmax 0vmax 1.562vmax 0.45vmax rgba(0, 0, 0, 0.35);
  transform-origin: left;
  /*.coloseconfigBac{
      position: absolute;
      width: 10vmax;
      height: 10vmax;
      top: -1.7vmax;
      right: -5.5vmax;
  }*/ }
  .console #endnums > ul {
    padding-top: 0.563vmax;
    background-color: #212121;
    border-radius: 1.125vmax;
    border-style: outset;
    border-width: 0.152vmax;
    border-color: #575757; }
  .console dl dt {
    padding: 1.562vmax 0 0.781vmax;
    font-size: 1.953vmax;
    line-height: 1.953vmax;
    text-align: center; }
  .console hr {
    margin: 1.562vmax 0 0;
    border-style: solid;
    border-width: 0 0 0.156vmax 0;
    border-color: #8f8f8f; }
  .console .flipup,
  .console .flipdown {
    text-align: center; }
    .console .flipup:before,
    .console .flipdown:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid; }
  .console .flipup:before {
    border-width: 0 1vmax 1vmax 1vmax;
    border-color: transparent transparent #fff transparent; }
  .console .flipdown:before {
    border-width: 1vmax 1vmax 0 1vmax;
    border-color: #fff transparent transparent transparent;
    position: relative;
    top: -0.731vmax; }
  .console .flipnum {
    background-color: #fff;
    font-size: 6.25vmax;
    line-height: 6.25vmax;
    text-align: center;
    height: 6.25vmax;
    width: 3.906vmax;
    border-radius: 0.781vmax;
    color: #000;
    margin: 0.563vmax 0.39vmax;
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600; }
    .console .flipnum:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
      width: 100%;
      border-bottom: 0.234vmax solid rgba(0, 0, 0, 0.3);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.2))); }
  .console .ctrltoggle {
    text-align: center;
    width: 16.875vmax; }
  .console .togglebase {
    display: inline-block;
    width: 9.375vmax;
    height: 4.686vmax;
    background-color: #343434;
    border-radius: 2.344vmax;
    box-shadow: inset 0.113vmax 0.113vmax 0vmax 0.113vmax rgba(255, 255, 255, 0.15), inset -0.112vmax -0.112vmax 0vmax 0.113vmax rgba(0, 0, 0, 0.3);
    padding-left: 2.344vmax;
    position: relative;
    transition: background-color 0.3s ease 0s; }
  .console .togglebase.active {
    background-color: #fff; }
  .console .togglebase .togglenob {
    position: absolute;
    width: 4.686vmax;
    height: 4.686vmax;
    left: 50%;
    top: 0;
    background-color: #979797;
    transition: left 0.3s ease 0s;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.48), rgba(255, 255, 255, 0.28));
    -webkit-tap-highlight-color: transparent !important;
    box-shadow: inset 0.113vmax 0.113vmax 0vmax 0.113vmax rgba(255, 255, 255, 0.3), inset -0.112vmax -0.112vmax 0vmax 0.113vmax rgba(0, 0, 0, 0.3), 0.152vmax 0.152vmax 0.304vmax 0vmax rgba(0, 0, 0, 0.7);
    overflow: hidden; }
  .console .togglebase.active .togglenob {
    left: 0; }
  .console ul#timeAndEnd {
    display: flex;
    justify-content: space-around; }
    .console ul#timeAndEnd > li {
      flex-grow: 1; }
  .console #gametime ul {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding-top: 0.563vmax;
    background-color: #212121;
    border-radius: 1.125vmax;
    border-style: outset;
    border-width: 0.152vmax;
    border-color: #575757; }
  .console #orderofplay ul {
    display: flex;
    justify-content: center; }
    .console #orderofplay ul li {
      width: 12.5vmax;
      border: 0.156vmax solid #fff;
      height: 3.906vmax;
      line-height: 3.906vmax;
      text-align: center;
      border-left: none; }
      .console #orderofplay ul li.active {
        background-color: #fff;
        color: #212121; }
      .console #orderofplay ul li:first-child {
        border-left: 0.156vmax solid #fff;
        border-radius: 0.781vmax 0 0 0.781vmax; }
      .console #orderofplay ul li:nth-last-of-type(1) {
        border-radius: 0 0.781vmax 0.781vmax 0; }
  .console #arrowsup ul {
    display: flex;
    justify-content: center; }
    .console #arrowsup ul li {
      width: 12.5vmax;
      border: 0.156vmax solid #fff;
      height: 3.906vmax;
      line-height: 3.906vmax;
      text-align: center;
      border-left: none; }
      .console #arrowsup ul li.active {
        background-color: #fff;
        color: #212121; }
      .console #arrowsup ul li:first-child {
        border-left: 0.156vmax solid #fff;
        border-radius: 0.781vmax 0 0 0.781vmax; }
      .console #arrowsup ul li:nth-last-of-type(1) {
        border-radius: 0 0.781vmax 0.781vmax 0; }
  .console .cbase {
    position: absolute;
    width: 6.25vmax;
    height: 6.25vmax;
    top: 0vmax;
    left: -3.375vmax;
    cursor: pointer;
    background-color: #212121;
    transition: left 0.3s ease 0s;
    border-radius: 50%;
    border: 0.563vmax solid #626262;
    -webkit-tap-highlight-color: transparent !important;
    box-shadow: inset -0.112vmax -0.112vmax 0vmax 0.113vmax rgba(0, 0, 0, 0.3), inset 0.113vmax 0.113vmax 0vmax 0.113vmax rgba(255, 255, 255, 0.3), 0.225vmax 0.225vmax 0.383vmax 0vmax rgba(0, 0, 0, 0.8);
    overflow: hidden; }
    .console .cbase.cblack {
      background-color: #000;
      top: 0vmax; }
    .console .cbase.cwhite {
      background-color: #fff;
      top: 9.563vmax; }
    .console .cbase.ccolor {
      background-color: #fff;
      top: 19.125vmax;
      background-position: center;
      background-image: url(../images/lmp.svg);
      background-size: cover; }
    .console .cbase.active {
      border-color: #ff8b17; }
    .console .cbase:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.48), rgba(255, 255, 255, 0.28)); }
    .console .cbase:active, .console .cbase:focus {
      outline: 0;
      background-color: #c7c7c7; }
  .console .copybut {
    position: absolute;
    width: 6.25vmax;
    height: 6.25vmax;
    top: 9.563vmax;
    right: -3.375vmax;
    cursor: pointer;
    background-color: #212121;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/copyright.svg);
    background-size: 56%;
    border-radius: 50%;
    border: 0.281vmax solid #626262;
    box-shadow: inset -0.112vmax -0.112vmax 0vmax 0.113vmax rgba(0, 0, 0, 0.3), inset 0.113vmax 0.113vmax 0vmax 0.113vmax rgba(255, 255, 255, 0.3), 0.225vmax 0.225vmax 0.383vmax 0vmax rgba(0, 0, 0, 0.8);
    -webkit-tap-highlight-color: transparent !important;
    overflow: hidden; }
    .console .copybut:after {
      content: '';
      position: absolute;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.48), rgba(255, 255, 255, 0.28));
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .console .copybut:active, .console .copybut:focus {
      outline: 0;
      background-color: #c7c7c7; }
  .console #selectmode {
    position: absolute;
    width: 7.875vmax;
    height: 7.875vmax;
    top: 19.125vmax;
    right: -3.937vmax;
    cursor: pointer;
    background-color: #212121;
    transition: left 0.3s ease 0s;
    border-radius: 50%;
    border: 0.281vmax solid #626262;
    box-shadow: inset -0.112vmax -0.112vmax 0vmax 0.113vmax rgba(0, 0, 0, 0.3), inset 0.113vmax 0.113vmax 0vmax 0.113vmax rgba(255, 255, 255, 0.3), 0.225vmax 0.225vmax 0.383vmax 0vmax rgba(0, 0, 0, 0.8);
    -webkit-tap-highlight-color: transparent !important;
    overflow: hidden; }
    .console #selectmode:active, .console #selectmode:focus {
      outline: 0;
      background-color: #c7c7c7; }
    .console #selectmode.default {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      background-image: url(../images/medal.svg); }
      .console #selectmode.default:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.48), rgba(255, 255, 255, 0.28)); }
    .console #selectmode.tournament {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      background-image: url(../images/rank.svg); }
      .console #selectmode.tournament:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.48), rgba(255, 255, 255, 0.28)); }
  .console .closeconfig {
    position: absolute;
    width: 6.25vmax;
    height: 6.25vmax;
    top: 0;
    right: -3.375vmax;
    cursor: pointer;
    background-color: #212121;
    transition: left 0.3s ease 0s;
    border-radius: 50%;
    border: 0.281vmax solid #626262;
    -webkit-tap-highlight-color: transparent !important;
    box-shadow: inset -0.112vmax -0.112vmax 0vmax 0.113vmax rgba(0, 0, 0, 0.3), inset 0.113vmax 0.113vmax 0vmax 0.113vmax rgba(255, 255, 255, 0.3), 0.225vmax 0.225vmax 0.383vmax 0vmax rgba(0, 0, 0, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-image: url(../images/close.svg);
    overflow: hidden; }
    .console .closeconfig:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.48), rgba(255, 255, 255, 0.28)); }
    .console .closeconfig:active, .console .closeconfig:focus {
      outline: 0;
      background-color: #c7c7c7; }
  .console .setconfig {
    position: absolute;
    width: 9.375vmax;
    height: 9.375vmax;
    bottom: 2.813vmax;
    right: 2.813vmax;
    cursor: pointer;
    background-color: #212121;
    transition: left 0.3s ease 0s;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent !important;
    box-shadow: inset 0.152vmax 0vmax 0.152vmax rgba(255, 255, 255, 0.3), inset -0.152vmax -0.152vmax 0vmax 0.152vmax rgba(0, 0, 0, 0.3), 0.225vmax 0.225vmax 0.383vmax 0vmax rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-image: url(../images/chronometer.svg);
    background-position: center;
    background-size: 80%;
    overflow: hidden; }
    .console .setconfig:active, .console .setconfig:focus {
      outline: 0; }
    .console .setconfig:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.48), rgba(255, 255, 255, 0.28)); }
  .console .selectsound {
    position: absolute;
    height: 4.5vmax;
    width: 8.438vmax;
    right: 16vmax;
    bottom: 4.5vmax;
    background-color: #212121;
    transition: left 0.3s ease 0s;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2.25vmax;
    -webkit-tap-highlight-color: transparent !important;
    box-shadow: inset 0.113vmax 0.113vmax 0vmax 0.113vmax rgba(255, 255, 255, 0.3), inset -0.112vmax -0.112vmax 0vmax 0.113vmax rgba(0, 0, 0, 0.3), 0.113vmax 0.113vmax 0.152vmax 0vmax rgba(0, 0, 0, 0.7);
    background-image: url(../images/sound.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    overflow: hidden; }
    .console .selectsound:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.48), rgba(255, 255, 255, 0.28)); }
  .console #tournamentkind {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .console #tournamentkind ul {
      width: 80%;
      margin: 0 auto; }
      .console #tournamentkind ul li {
        width: 100%;
        height: 5.625vmax;
        text-align: center;
        line-height: 5.625vmax;
        border: 0.156vmax solid #fff;
        border-bottom: none; }
        .console #tournamentkind ul li:first-child {
          border-radius: 0.781vmax 0.781vmax 0 0; }
        .console #tournamentkind ul li:nth-last-of-type(1) {
          border-radius: 0 0 0.781vmax 0.781vmax;
          border-bottom: 0.156vmax solid #fff; }
        .console #tournamentkind ul li.active {
          background-color: #fff;
          color: #212121; }

#selectSoundBase {
  position: absolute;
  bottom: 0;
  background-color: #212121;
  width: 42.75vmax;
  height: 15.188vmax;
  z-index: 1000;
  border-radius: 3.906vmax 3.906vmax 0 0;
  border: 0.625vmax solid #575757;
  border-bottom: none;
  padding: 1.562vmax; }
  #selectSoundBase ul {
    display: flex;
    justify-content: center; }
    #selectSoundBase ul li {
      min-width: 12.5vmax;
      border: 0.156vmax solid #fff;
      height: 3.906vmax;
      line-height: 3.906vmax;
      text-align: center;
      border-left: none;
      padding: 0 1.688vmax; }
      #selectSoundBase ul li:first-child {
        border-left: 0.156vmax solid #fff;
        border-radius: 0.781vmax 0 0 0.781vmax; }
      #selectSoundBase ul li:nth-last-of-type(1) {
        border-radius: 0 0.781vmax 0.781vmax 0; }
      #selectSoundBase ul li.active {
        background-color: #fff;
        color: #212121; }

.buttonbase {
  position: absolute;
  left: 2.25vmax;
  top: 2.813vmax;
  width: 6.75vmax;
  height: 6.75vmax;
  border-radius: 50%;
  background-color: #212121; }

.ondisplayCtrl {
  position: absolute;
  z-index: 1000;
  width: 16.016vmax;
  height: 5.469vmax;
  border-radius: 2.344vmax 0;
  background-color: #212121; }
  .ondisplayCtrl ul {
    display: flex;
    justify-content: space-around;
    padding: 1.172vmax; }
    .ondisplayCtrl ul li {
      height: 3.125vmax;
      width: 3.125vmax;
      border-radius: 0.39vmax;
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center; }
      .ondisplayCtrl ul li.rep {
        background-size: 70%; }
        .ondisplayCtrl ul li.rep.enable {
          background-image: url(../images/replay.svg); }
        .ondisplayCtrl ul li.rep.disable {
          background-image: url(../images/replay.svg);
          opacity: 0.3; }
      .ondisplayCtrl ul li.playpause.play {
        background-image: url(../images/play-button.svg); }
      .ondisplayCtrl ul li.playpause.pause {
        background-image: url(../images/pause.svg); }
      .ondisplayCtrl ul li.playpause.redume {
        background-image: url(../images/play-button.svg); }
      .ondisplayCtrl ul li.next.nextend {
        background-image: url(../images/nextready.svg); }
      .ondisplayCtrl ul li.next.forward {
        background-image: url(../images/forward.svg);
        background-size: 85%; }
      .ondisplayCtrl ul li.next.stop {
        background-image: url(../images/stop.svg); }
      .ondisplayCtrl ul li.next.default {
        background-image: url(../images/next.svg); }

#appDiv {
  font-size: 1.562vmax; }

#isAC {
  position: absolute;
  width: 100vw;
  height: 56.25vmax;
  top: 0;
  left: 0;
  background-color: #5a5a5a;
  z-index: 1001;
  color: #fff; }
  #isAC > div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center; }
    #isAC > div > img {
      width: 16.875vmax;
      display: block;
      margin: 2.813vmax auto; }

#splash {
  position: absolute;
  width: 100vw;
  height: 56.25vw;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 3000; }
  #splash > div {
    -webkit-animation: zoom 3s cubic-bezier(0.1, 0.48, 0.47, 1) alternate 1s;
    -moz-animation: zoom 3s cubic-bezier(0.1, 0.48, 0.47, 1) alternate 1s;
    animation: zoom 3s cubic-bezier(0.1, 0.48, 0.47, 1) alternate 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
    #splash > div > div {
      font-size: 133%;
      white-space: nowrap;
      position: relative;
      margin-bottom: 1.125vmax;
      font-weight: bold; }
      #splash > div > div span {
        font-size: 40%;
        position: absolute;
        bottom: -1.125vmax;
        right: 0vmax; }
    #splash > div img {
      display: block;
      margin: 2vmax auto;
      -webkit-animation: yurayura 0.3s cubic-bezier(0.53, 0.01, 0.47, 1) infinite alternate 0s;
      -moz-animation: yurayura 0.3s cubic-bezier(0.53, 0.01, 0.47, 1) infinite alternate 0s;
      animation: yurayura 0.3s cubic-bezier(0.53, 0.01, 0.47, 1) infinite alternate 0s;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      animation-fill-mode: both; }
    #splash > div span {
      font-size: 60%;
      white-space: nowrap; }
  #splash .closecopy {
    position: absolute;
    width: 3.938vmax;
    height: 3.938vmax;
    top: 6.75vmax;
    left: 6.75vmax;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/closecopy.svg);
    background-size: contain;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent !important; }
    #splash .closecopy:active, #splash .closecopy:focus {
      outline: 0;
      opacity: 0.5; }

@media screen and (orientation: portrait) {
  #splash {
    height: 100vh; } }
@media screen and (orientation: landscape) {
  #orientationinfo {
    display: none; } }
@media screen and (orientation: portrait) {
  #orientationinfo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center center;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20x%3D%220vmin%22%20y%3D%220vmin%22%20viewBox%3D%220%200%2090%2090%22%20enable-background%3D%22new%200%200%2090%2090%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20points%3D%220%2C0%200%2C0%200%2C0%20%22%3E%3C/polygon%3E%3Cg%3E%3Cpath%20d%3D%22M71.545%2C48.145h-31.98V20.743c0-2.627-2.138-4.765-4.765-4.765H18.456c-2.628%2C0-4.767%2C2.138-4.767%2C4.765v42.789%20%20%20c0%2C2.628%2C2.138%2C4.766%2C4.767%2C4.766h5.535v0.959c0%2C2.628%2C2.138%2C4.765%2C4.766%2C4.765h42.788c2.628%2C0%2C4.766-2.137%2C4.766-4.765V52.914%20%20%20C76.311%2C50.284%2C74.173%2C48.145%2C71.545%2C48.145z%20M18.455%2C16.935h16.344c2.1%2C0%2C3.808%2C1.708%2C3.808%2C3.808v27.401H37.25V22.636%20%20%20c0-0.264-0.215-0.478-0.479-0.478H16.482c-0.264%2C0-0.479%2C0.214-0.479%2C0.478v36.585c0%2C0.264%2C0.215%2C0.478%2C0.479%2C0.478h7.507v7.644%20%20%20h-5.534c-2.101%2C0-3.81-1.709-3.81-3.81V20.743C14.645%2C18.643%2C16.354%2C16.935%2C18.455%2C16.935z%20M16.96%2C23.116h19.331v25.031h-7.535%20%20%20c-2.628%2C0-4.766%2C2.139-4.766%2C4.768v5.828h-7.03V23.116z%20M71.545%2C73.064H28.757c-2.101%2C0-3.81-1.708-3.81-3.808V52.914%20%20%20c0-2.102%2C1.709-3.812%2C3.81-3.812h42.788c2.1%2C0%2C3.809%2C1.71%2C3.809%2C3.812v16.343C75.354%2C71.356%2C73.645%2C73.064%2C71.545%2C73.064z%22%3E%3C/path%3E%3Cpath%20d%3D%22M28.919%2C58.424c-1.466%2C0-2.659%2C1.193-2.659%2C2.66c0%2C1.466%2C1.193%2C2.658%2C2.659%2C2.658c1.468%2C0%2C2.662-1.192%2C2.662-2.658%20%20%20C31.581%2C59.617%2C30.387%2C58.424%2C28.919%2C58.424z%20M28.919%2C62.786c-0.939%2C0-1.703-0.764-1.703-1.702c0-0.939%2C0.764-1.704%2C1.703-1.704%20%20%20c0.94%2C0%2C1.705%2C0.765%2C1.705%2C1.704C30.623%2C62.022%2C29.858%2C62.786%2C28.919%2C62.786z%22%3E%3C/path%3E%3Cpath%20d%3D%22M69.654%2C50.461H33.069c-0.264%2C0-0.479%2C0.215-0.479%2C0.479v20.288c0%2C0.264%2C0.215%2C0.478%2C0.479%2C0.478h36.585%20%20%20c0.263%2C0%2C0.477-0.214%2C0.477-0.478V50.939C70.131%2C50.676%2C69.917%2C50.461%2C69.654%2C50.461z%20M69.174%2C51.417V70.75H33.548V51.417H69.174z%22%3E%3C/path%3E%3Cpath%20d%3D%22M45.201%2C30.296c6.651%2C0%2C12.233%2C5.351%2C12.551%2C11.977l-3.033-2.638c-0.193-0.165-0.507-0.142-0.675%2C0.048%20%20%20c-0.174%2C0.198-0.153%2C0.501%2C0.045%2C0.676l3.883%2C3.375c0.09%2C0.075%2C0.198%2C0.115%2C0.312%2C0.115c0.141%2C0%2C0.273-0.061%2C0.362-0.166%20%20%20l3.371-3.877c0.173-0.2%2C0.151-0.502-0.047-0.675c-0.194-0.166-0.508-0.144-0.676%2C0.048l-2.592%2C2.979%20%20%20c-0.18-3.417-1.629-6.605-4.099-9.001c-2.538-2.461-5.877-3.817-9.404-3.817c-0.264%2C0-0.479%2C0.215-0.479%2C0.479%20%20%20C44.72%2C30.083%2C44.936%2C30.296%2C45.201%2C30.296z%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E); } }
#keyinfo {
  position: absolute;
  width: 100vw;
  height: 56.25vmax;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8); }
  #keyinfo ul {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #keyinfo ul div {
      text-align: center;
      font-size: 120%;
      margin-bottom: 2.25vmax; }
    #keyinfo ul hr {
      margin: 0.563vmax 0; }
    #keyinfo ul li {
      white-space: nowrap;
      padding-bottom: 0.563vmax; }
      #keyinfo ul li i {
        font-style: normal;
        font-size: 1.406vmax;
        display: inline-block;
        padding: 0.563vmax 1.125vmax;
        border-radius: 0.563vmax;
        border: #fff 0.113vmax solid;
        min-width: 2.813vmax;
        height: 2.813vmax;
        margin-right: 2.813vmax; }
  #keyinfo .closekeyinfo {
    position: absolute;
    width: 3.938vmax;
    height: 3.938vmax;
    top: 6.75vmax;
    left: 6.75vmax;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/closekeyinfo.svg);
    background-size: contain;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent !important; }
    #keyinfo .closekeyinfo:active, #keyinfo .closekeyinfo:focus {
      outline: 0;
      opacity: 0.5; }

.flipmask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

@-webkit-keyframes zoom {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes zoom {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes zoom {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes yurayura {
  0% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  100% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); } }
@-moz-keyframes yurayura {
  0% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  100% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); } }
@keyframes yurayura {
  0% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  100% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); } }
@-webkit-keyframes spin {
  0% {
    transform: rotateY(-90deg) translate(-50%, -50%) scale(0.6); }
  100% {
    transform: rotateY(0deg) translate(-50%, -50%) scale(1); } }
@-moz-keyframes spin {
  0% {
    transform: rotateY(-90deg) translate(-50%, -50%) scale(0.6); }
  100% {
    transform: rotateY(0deg) translate(-50%, -50%) scale(1); } }
@keyframes spin {
  0% {
    transform: rotateY(-90deg) translate(-50%, -50%) scale(0.6); }
  100% {
    transform: rotateY(0deg) translate(-50%, -50%) scale(1); } }
