*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(opensans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(.woff2) format('opensanseb.woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

::selection {
    background:rgba(0,0,0,0);
}

dl,ul{
    list-style: none;
}
dl dt{
    font-family: "Helvetica Neue", Helvetica, sans-serif, "Hiragino Kaku Gothic ProN",YuGothic,Meiryo;
}
body{
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, sans-serif, "Hiragino Kaku Gothic ProN",YuGothic,Meiryo;
}
#container{
    width: 1280px;
    height: 720px;
    position: relative;
    transition: background 0.4s ease 0s;
    &.warn{
        background-color: #ff4f4f;
    }
    &.caution{
        background-color: #ffe44f;
    }
    &.shoot{
        background-color: white;
    }
}
#timebox{
    white-space: nowrap;
    position: relative;
    width: 100%;
    height: 580px;
    #mmc{
    margin-left: 35px;
    }
    #configbut{
        position: absolute;
        top: 20px;
        left: 10px;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(../images/equalizer.svg);
        opacity: 0.2;
        cursor: pointer;
        border-radius: 50%;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0)!important;
        &:active,&:focus,&.active{
            outline: 0;
            opacity: 1;
        }
    }
    #timerconfigbut{
        position: absolute;
        top: 20px;
        left: 130px;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(../images/chronometer_b.svg);
        opacity: 0.2;
        cursor: pointer;
        border-radius: 50%;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0)!important;
        &:active,&:focus,&.active{
            outline: 0;
            opacity: 1;
        }
    }
}
#endbox{
    position: absolute;
    top: 90px;
    left: 5px;
    width: 205px;
    height: 255px;
    text-align: center;
    background-color: #333333;
    color: #fff;
    padding-top: 10px;
    border-radius: 0 30px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    .subd{
    font-size: 40px;
    }
    #endnum{
    height: 200px;
    line-height: 200px;
    font-size: 150px;
    font-weight: 600;
    }
}
ul#standset{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: 0;
    li{
        flex-grow: 1;
        position: relative;
        line-height: 120px;
        font-size: 90px;
        padding: 5px 20px 0;
        font-weight: bold;
        color: rgba(51, 51, 51, 0.2);
        &.byRignt{
            text-align: right;
            &.active{
                background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
            }
        }
        &.active{
            border-bottom: 10px solid #333333;
            background: linear-gradient(to right, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%);
        }
        span.active{
            color: #333333;
        }
    }
}
ul#dotindex{
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    li{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgba(51, 51, 51, 0.2);
        margin: 20px;
        &.active{
            background-color: #333333;
        }
    }
}
#belt{
    height: 300px;
    width: 100%;
    position: absolute;
    top: 130px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    z-index: 300;
    animation: toast 0.5s cubic-bezier(.13, .6, .25, 1) 0s;
    &>div{
        font-size:70px;
        line-height: 130%;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform:translate(-50%,-50%);
    }
}

@keyframes toast {
0% {opacity: 0;}
100% {opacity: 1;}
}

#timerconsole{
    &.console{
        height: auto;
        width: 500px;
    }
    
    #addgametime{
        ul{
            display: flex;
            justify-content: flex-end;
            flex-direction: row-reverse;
            padding-left: 70px;
            li{
            }
        }
    }
}
.console{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #333333;
    width: 600px;
    height: 700px;
    color: #fff;
    z-index: 200;
    border-radius: 50px;
    border: 8px solid #fff;
    padding: 20px;
    font-size: 25px;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.35);

    dl dt{
        padding: 20px 0 10px;
        font-size: 25px;
        line-height: 25px;
    }
    hr{
        margin: 20px 0 0;
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: #454545;
    }
                .flipup,.flipdown{
                    text-align: center;
                    &:before{
                        content: "";
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                    }
                }
                .flipup{
                    &:before{
                        border-width:0 20px 20px 20px;
                        border-color: transparent transparent #fff transparent;
                    }
                    
                }
                .flipdown{
                    &:before{
                        border-width:20px 20px 0 20px;
                        border-color:#fff transparent transparent transparent;
                    }
                    
                }
                .flipnum{
                    background-color: #fff;
                    font-size: 80px;
                    line-height: 80px;
                    text-align: center;
                    height: 80px;
                    width: 50px;
                    border-radius: 10px;
                    color: #000;
                    margin: 20px 5px;
                    position: relative;
                    overflow: hidden;
                    display: inline-block;
                    font-family: "Helvetica Neue", Helvetica, sans-serif;
                    font-weight: 600;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 50%;
                        width: 100%;
                        border-bottom: 3px solid rgba(0,0,0,0.3);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0, 0, 0, 0.2)));
                    }
                }
    
.togglebase{
    display: inline-block;
    width: 120px;
    height: 60px;
    background-color: #343434;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 30px;
    border: 4px solid #fff;
    padding-left: 30px;
    position: relative;
    transition:background-color 0.3s ease 0s;
}
.togglebase.active{
    background-color: #fff;
}
.togglebase .togglenob{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    left: 50%;
    top: -4px;
    transition:left 0.3s ease 0s;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.23);
}

.togglebase.active .togglenob{
    left: 0;
}
   ul#timeAndEnd{
        display: flex;
        justify-content:space-around;
        &>li{
            flex-grow: 1; 
        }
    }
    #gametime{
        ul{
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            li{
            }
        }
    }
    #orderofplay{
        ul{
            display: flex;
            justify-content: center;
            li{
                width: 160px;
                border: 2px solid #fff;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-left: none;
                &.active{
                    background-color: #fff;
                    color: #333333;
                }
                &:first-child{
                   border-left: 2px solid #fff;
                    border-radius: 10px 0 0 10px;
                }
                &:nth-last-of-type(1){
                    border-radius: 0 10px 10px 0;
                }
            }
        }
    }
    #arrowsup{
        ul{
            display: flex;
            justify-content: center;
            li{
                width: 160px;
                border: 2px solid #fff;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-left: none;
                &.active{
                    background-color: #fff;
                    color: #333333;
                }
                &:first-child{
                   border-left: 2px solid #fff;
                    border-radius: 10px 0 0 10px;
                }
                &:nth-last-of-type(1){
                    border-radius: 0 10px 10px 0;
                }
            }
        }
    }
    .closeconfig{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 5px;
        right: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/close.svg);
        cursor: pointer;
        border-radius: 50%;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0)!important;
        &:active,&:focus{
            outline: 0;
            background-color: #c7c7c7;
        }
    }
    .setconfig{
        position: absolute;
        width: 120px;
        height: 120px;
        bottom: 40px;
        right: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/chronometer.svg);
        cursor: pointer;
        opacity: 1;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0)!important;
        &:active,&:focus{
            outline: 0;
            opacity: 0.3;
        }
    }
}
#ondisplayCtrl{
    position: absolute;
    z-index: 10000;
    top: 347px;
    left: 5px;
    width: 205px;
    height: 70px;
    border-radius: 30px 0;
    background-color: rgb(51, 51, 51);
    ul{
        display: flex;
        justify-content:space-around;
        padding: 15px;
        li{
            height: 40px;
            width: 40px;
            border-radius: 5px;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
            &.rep{
                background-size: 70%;
                &.enable{
                background-image: url(../images/replay.svg);
                }
                &.disable{
                background-image: url(../images/replay.svg);
                opacity: 0.3;
                }
            }
            &.playpause{
                &.play{
                background-image: url(../images/play-button.svg);
                }
                &.pause{
                background-image: url(../images/pause.svg);
                }
                &.redume{
                background-image: url(../images/play-button.svg);
                }
            }
            &.next{
                &.nextend{
                    background-image:url(../images/nextready.svg);
                }
                &.forward{
                    background-image:url(../images/forward.svg);
                    background-size: 85%;
                }
                &.stop{
                    background-image:url(../images/stop.svg);
                }
                &.default{
                    background-image: url(../images/next.svg);
                }
            }
        }
    }
}
#appDiv{
    font-size: 20px;
}