@import "compass";
$set-prefix: -webkit-,
-moz-,
-o-,
'';
@mixin pre($name, $value) {
    @each $prefix in $set-prefix {
        #{$prefix}#{$name}: $value;
    }
}

@mixin preval($name, $value) {
    @each $prefix in $set-prefix {
        #{$name}: #{$prefix}#{$value};
    }
}

@mixin keyframes($aname) {
    @-webkit-keyframes #{$aname} {
        @content;
    }
    @-moz-keyframes #{$aname} {
        @content;
    }
    @keyframes #{$aname} {
        @content;
    }
}

@mixin animation($animation-name) {
    -webkit-animation: $animation-name;
    -moz-animation: $animation-name;
    animation: $animation-name;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

@mixin flex() {
    display: -webkit-box;
    /*--- Androidブラウザ用 ---*/
    display: -ms-flexbox;
    /*--- IE10 ---*/
    display: -webkit-flex;
    /*--- safari（PC）用 ---*/
    display: flex;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(opensans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(.woff2) format('opensanseb.woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

::selection {
    background: rgba(0, 0, 0, 0);
}

dl,
ul {
    list-style: none;
}

dl dt {
    font-family: "Helvetica Neue", Helvetica, sans-serif, "Hiragino Kaku Gothic ProN", YuGothic, Meiryo;
}

body {
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, sans-serif, "Hiragino Kaku Gothic ProN", YuGothic, Meiryo;
    height: 100vh;
    width: 100vw;
}

#app {
    display: none;
}

@media screen and (orientation: portrait) {
    #default {
        display: none;
    }
}

#tournament {
    width: 100vw;
    height: 100vh;
    
    &.warn {
        background-color: #ff4f4f;
    }
    &.caution {
        background-color: #ffe44f;
    }
    &.shoot {
        background-color: white;
    }
    .ondisplayCtrl{
        bottom: 21vmin;
        left: 50%;
        border-radius: 2vmin 2vmin 0 0;
        transform: translateX(-50%);
        height: 5vmin;
        ul{
            padding: 0.002vmin;
        }
    }
    #tournament-timebox{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 1.5vmin;
        .clock {
            position: relative;
            margin-left: 0.5vmin;
        }
    }
    #tournamentMatrixBase{
    position: absolute;
    bottom: 0;
    height: 21vmin;
    width: 100%;
    background-color: #333333;
        padding: 0.5vmin;
    .endbox {
        background-color: #000;
        top: inherit;
        height: 20vmin;
        border-radius: 2vmin;
        width: 16vmax;
        left: 50%;
        transform: translateX(-50%);
        ul.standtip{
            position: absolute;
            top: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 2vmin;
            &.l{
                left: 0;
            }
            &.r{
                right: 0;
            }
            li{
                display: block;
                width: 2vmin;
                height: 2vmin;
                background-color: #4b2a12;
                margin-bottom: 2vmin;
                &.active{
                    background-color:#ff8b17;
                }
            }
            
        }
        .subd {
            font-size: 4vmin;
            line-height: 4vmin;
        }
        .endnum {
            height: 14vmin;
        }
    }
        .tnum{
            position: absolute;
            font-size: 6vh;
            font-weight: bold;
            color: white;
            bottom: 1vmin;
            &.l{
                left: 42vmin;
            }
            &.r{
                right: 42vmin;
            }
        }
        .dotlamp{
            position: absolute;
            background-color: #000;
            border-radius: 2vmin;
            height: 8vmin;
            width: 34vmin;
            top: 2vmin;
            overflow: hidden;
            padding: 0.5vmin;
            &.l1{
                left: 39vmin;
            }
            &.l2{
                right: 39vmin;
            }
        }
        .remtimebox{
            position: absolute;
            background-color: #333333;
            width: 36vmin;
            height: 17vmin;
            border-radius: 2vmin;
            top: 2vmin;
            overflow: hidden;
            &.t1{
                left:2vmin;
            }
            &.t2{
                right:2vmin;
            }
        }
    }
    #dropDown{
        position: absolute;
        left: 30.5vmin;
        top: 26vmin;
        padding: 3vmin 1vmin;
        width: 9vmin;
        height: 22vmin;
        background-color: #333333;
        border-radius: 2vmin;
        overflow: hidden;
        &.r{
            left: inherit;
            right: 0;
            border-radius:　2vmin 0 0 2vmin;
        }
    }
    #mmc {
    position: absolute;
    top: 56vmin;
    left: 0;
    }
}

#default {
    width: 100vmax;
    height: 100vmin;
    transition: background 0.4s ease 0s;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    &.warn {
        background-color: #ff4f4f;
    }
    &.caution {
        background-color: #ffe44f;
    }
    &.shoot {
        background-color: white;
    }
    .ondisplayCtrl{
    top: 44.5vmin;
    left: 0.694vmin;
    }
}

#timebox {
    white-space: nowrap;
    position: relative;
    width: 100%;
    height: 80.5vmin;
    .clock{
        position: absolute;
        top: 5vmin;
        left: 30vmin;
    }
    #mmc {
    position: absolute;
    top: 55vmin;
    left: 5vmin;
    }
}

    #configbut {
        position: absolute;
        top: 2.777vmin;
        left: 1.389vmin;
        width: 8.33vmin;
        height: 8.33vmin;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(../images/equalizer.svg);
        opacity: 0.2;
        cursor: pointer;
        border-radius: 50%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
        &:active,
        &:focus,
        &.active {
            outline: 0;
            opacity: 1;
        }
    }
    #timerconfigbut {
        position: absolute;
        top: 2.777vmin;
        left: 18.06vmin;
        width: 8.33vmin;
        height: 8.33vmin;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(../images/chronometer_b.svg);
        opacity: 0.2;
        cursor: pointer;
        border-radius: 50%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
        &.tournament{
            left: inherit;
            right: 1.389vmin;
        }
        &:active,
        &:focus,
        &.active {
            outline: 0;
            opacity: 1;
        }
    }
.endbox {
    position: absolute;
    top: 12.5vmin;
    left: 0.694vmin;
    width: 28.472vmin;
    height: 31vmin;
    text-align: center;
    background-color: #333333;
    color: #fff;
    padding-top: 1.389vmin;
    border-radius: 0 4.167vmin;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    .subd {
        font-size: 5.555vmin;
    }
    .endnum {
            height: 17vmin;
    }
}

ul#standset {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    position: absolute;
    width: 100%;
    height: 16.667vmin;
    bottom: 0;
    li {
        flex-grow: 1;
        position: relative;
        line-height: 16.667vmin;
        font-size: 12.5vmin;
        padding: 0.694vmin 2.777vmin 0;
        font-weight: bold;
        color: rgba(51, 51, 51, 0.2);
        &.byRignt {
            text-align: right;
            &.active {
                background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
            }
        }
        &.active {
            border-bottom: 1.389vmin solid #333333;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
        }
        span.active {
            color: #333333;
        }
    }
}

ul#dotindex {
    width: 55.555vmin;
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 12.5vmin;
    left: 50%;
    transform: translateX(-50%);
    li {
        width: 2.777vmin;
        height: 2.777vmin;
        border-radius: 50%;
        background-color: rgba(51, 51, 51, 0.2);
        margin: 2.777vmin;
        &.active {
            background-color: #333333;
        }
    }
}

#belt {
    height: 41.667vmin;
    width: 100%;
    position: absolute;
    top: 18.06vmin;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    z-index: 300;
    animation: toast 0.5s cubic-bezier(.13, .6, .25, 1) 0s;
    &>div {
        font-size: 9.722vmin;
        line-height: 130%;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
}

@keyframes toast {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#timerconsole {
    &.console {
        height: auto;
        width: 69.444vmin;
    }
    #addgametime {
        ul {
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            li {}
        }
    }
}

.console {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333333;
    width: 86vmin;
    color: #fff;
    z-index: 1200;
    border-radius: 6.944vmin;
    border: 1.111vmin solid #fff;
    padding: 2vmin 5vmin 7vmin 5vmin;
    font-size: 3.472vmin;
    box-shadow: 0px 0px 2.777vmin 6px rgba(0, 0, 0, 0.35);
    //overflow: hidden;
    dl dt {
        padding: 2.777vmin 0 1.389vmin;
        font-size: 3.472vmin;
        line-height: 3.472vmin;
        text-align: center;
    }
    hr {
        margin: 2.777vmin 0 0;
        border-style: solid;
        border-width: 0 0 0.277vmin 0;
        border-color: #8f8f8f;
    }
    .flipup,
    .flipdown {
        text-align: center;
        &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
        }
    }
    .flipup {
        &:before {
            border-width: 0 2.777vmin 2.777vmin 2.777vmin;
            border-color: transparent transparent #fff transparent;
        }
    }
    .flipdown {
        &:before {
            border-width: 2.777vmin 2.777vmin 0 2.777vmin;
            border-color: #fff transparent transparent transparent;
        }
    }
    .flipnum {
        background-color: #fff;
        font-size: 11.111vmin;
        line-height: 11.111vmin;
        text-align: center;
        height: 11.111vmin;
        width: 6.944vmin;
        border-radius: 1.389vmin;
        color: #000;
        margin: 2.777vmin 0.694vmin;
        position: relative;
        overflow: hidden;
        display: inline-block;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 600;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 50%;
            width: 100%;
            border-bottom: 0.4166vmin solid rgba(0, 0, 0, 0.3);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.2)));
        }
    }
    .ctrltoggle{
        text-align: center;
        width: 30vmin;
    }
    .togglebase {
        display: inline-block;
        width: 16.667vmin;
        height: 8.33vmin;
        background-color: #343434;
        border-radius: 4.167vmin;
        border: 0.555vmin solid #fff;
        padding-left: 4.167vmin;
        position: relative;
        transition: background-color 0.3s ease 0s;
    }
    .togglebase.active {
        background-color: #fff;
    }
    .togglebase .togglenob {
        position: absolute;
        width: 8.33vmin;
        height: 8.33vmin;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #ccc;
        left: 50%;
        top: -0.555vmin;
        transition: left 0.3s ease 0s;
        box-shadow: 0 0 0.694vmin 1px rgba(0, 0, 0, 0.23);
    }
    .togglebase.active .togglenob {
        left: 0;
    }
    ul#timeAndEnd {
        display: flex;
        justify-content: space-around;
        &>li {
            flex-grow: 1;
        }
    }
    #gametime {
        ul {
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            li {}
        }
    }
    #orderofplay {
        ul {
            display: flex;
            justify-content: center;
            li {
                width: 22.222vmin;
                border: 0.277vmin solid #fff;
                height: 6.944vmin;
                line-height: 6.944vmin;
                text-align: center;
                border-left: none;
                &.active {
                    background-color: #fff;
                    color: #333333;
                }
                &:first-child {
                    border-left: 0.277vmin solid #fff;
                    border-radius: 1.389vmin 0 0 1.389vmin;
                }
                &:nth-last-of-type(1) {
                    border-radius: 0 1.389vmin 1.389vmin 0;
                }
            }
        }
    }
    #arrowsup {
        ul {
            display: flex;
            justify-content: center;
            li {
                width: 22.222vmin;
                border: 0.277vmin solid #fff;
                height: 6.944vmin;
                line-height: 6.944vmin;
                text-align: center;
                border-left: none;
                &.active {
                    background-color: #fff;
                    color: #333333;
                }
                &:first-child {
                    border-left: 0.277vmin solid #fff;
                    border-radius: 1.389vmin 0 0 1.389vmin;
                }
                &:nth-last-of-type(1) {
                    border-radius: 0 1.389vmin 1.389vmin 0;
                }
            }
        }
    }
    .copybut {
        position: absolute;
        width: 11.111vmin;
        height: 11.111vmin;
        top: 17vmin;
        right: -6vmin;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/copyright.svg);
        background-size: 80%;
        cursor: pointer;
        background-color: #333333;
        border: 1.2vmin solid #fff;
        border-radius: 50%;
        -webkit-tap-highlight-color: transparent !important;
        &:active,
        &:focus {
            outline: 0;
            background-color: #c7c7c7;
        }
    }
    #selectmode {
        position: absolute;
        width: 14vmin;
        height: 14vmin;
        top: 34vmin;
        right: -7vmin;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 100%;
        cursor: pointer;
        background-color: #fff;
        border: 1.2vmin solid #fff;
        border-radius: 50%;
        -webkit-tap-highlight-color: transparent !important;
        &:active,
        &:focus {
            outline: 0;
            background-color: #c7c7c7;
        }
        &.default{
        background-image: url(../images/medal.svg);
        }
        &.tournament{
        background-image: url(../images/rank.svg);
        }
    }
    .closeconfig {
        position: absolute;
        width: 11.111vmin;
        height: 11.111vmin;
        top: 0;
        right: -6vmin;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/close.svg);
        cursor: pointer;
        background-color: #333333;
        border: 1.2vmin solid #fff;
        border-radius: 50%;
        -webkit-tap-highlight-color: transparent !important;
        &:active,
        &:focus {
            outline: 0;
            background-color: #c7c7c7;
        }
    }
    .setconfig {
        position: absolute;
        width: 16.667vmin;
        height: 16.667vmin;
        bottom: 5vmin;
        right: 5vmin;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/chronometer.svg);
        cursor: pointer;
        opacity: 1;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
        &:active,
        &:focus {
            outline: 0;
            opacity: 0.3;
        }
    }
    .selectsound {
        position: absolute;
        height: 5vmax;
        width: 5vmax;
        background-image: url(../images/sound.svg);
        background-repeat: no-repeat;
        background-size: contain;
        right: 16vmax;
        bottom: 4.5vmax;
    }
    
    #tournamentkind{
        display: flex;
        justify-content: center;
        flex-direction: column;
        ul{
            width: 80%;
            margin: 0 auto;
            li{       
    width: 100%;
    height: 10vmin;
                text-align: center;
                line-height: 10vmin;
                border: 0.277vmin solid #fff;
                border-bottom: none;
            &:first-child {
                border-radius: 1.389vmin 1.389vmin 0 0;
            }
            &:nth-last-of-type(1) {
                border-radius: 0 0 1.389vmin 1.389vmin;
                border-bottom: 0.277vmin solid #fff;
            }
            &.active {
                background-color: #fff;
                color: #333333;
            }
            }
        }
    }
}

#selectSoundBase {
    position: absolute;
    bottom: 0;
    background-color: #333;
    width: 76vmin;
    height: 27vmin;
    z-index: 1000;
    border-radius: 6.944vmin 6.944vmin 0 0;
    border: 1.111vmin solid #fff;
    border-bottom: none;
    padding: 2.777vmin;
    ul {
        display: flex;
        justify-content: center;
        li {
            min-width: 22.222vmin;
            border: 0.277vmin solid #fff;
            height: 6.944vmin;
            line-height: 6.944vmin;
            text-align: center;
            border-left: none;
            padding: 0 3vmin;
            &:first-child {
                border-left: 0.277vmin solid #fff;
                border-radius: 1.389vmin 0 0 1.389vmin;
            }
            &:nth-last-of-type(1) {
                border-radius: 0 1.389vmin 1.389vmin 0;
            }
            &.active {
                background-color: #fff;
                color: #333333;
            }
        }
    }
}

.ondisplayCtrl {
    position: absolute;
    z-index: 1000;
    width: 28.472vmin;
    height: 9.722vmin;
    border-radius: 4.167vmin 0;
    background-color: rgb(51, 51, 51);
    ul {
        display: flex;
        justify-content: space-around;
        padding: 2.083vmin;
        li {
            height: 5.555vmin;
            width: 5.555vmin;
            border-radius: 0.694vmin;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
            &.rep {
                background-size: 70%;
                &.enable {
                    background-image: url(../images/replay.svg);
                }
                &.disable {
                    background-image: url(../images/replay.svg);
                    opacity: 0.3;
                }
            }
            &.playpause {
                &.play {
                    background-image: url(../images/play-button.svg);
                }
                &.pause {
                    background-image: url(../images/pause.svg);
                }
                &.redume {
                    background-image: url(../images/play-button.svg);
                }
            }
            &.next {
                &.nextend {
                    background-image: url(../images/nextready.svg);
                }
                &.forward {
                    background-image: url(../images/forward.svg);
                    background-size: 85%;
                }
                &.stop {
                    background-image: url(../images/stop.svg);
                }
                &.default {
                    background-image: url(../images/next.svg);
                }
            }
        }
    }
}

#appDiv {
    font-size: 2.777vmin;
}

#isAC {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #5a5a5a;
    z-index: 1001;
    color: #fff;
    &>div {
        position: absolute;
        top: 50%;
        left: 50%;
        @include pre(transform, translate(-50%, -50%));
        white-space: nowrap;
        text-align: center;
        &>img {
            width: 30vmin;
            display: block;
            margin: 5vmin auto;
        }
    }
}

#splash {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 3000;
    &>div {
        @include animation(zoom 3s cubic-bezier(.1, .48, .47, 1) alternate 1s);
        &>div {
            font-size: 133%;
            white-space: nowrap;
            position: relative;
            margin-bottom: 2vmin;
            font-weight: bold;
            span {
                font-size: 40%;
                position: absolute;
                bottom: -2vmin;
                right: 0vmin;
            }
        }
        position: absolute;
        top: 50%;
        left: 50%;
        @include pre(transform, translate(-50%, -50%));
        text-align: center;
        img {
            display: block;
            margin: 2vmax auto;
            @include animation(yurayura 0.3s cubic-bezier(.53, .01, .47, 1) infinite alternate 0s)
        }
        span {
            font-size: 60%;
            white-space: nowrap;
        }
    }
    .closecopy {
        position: absolute;
        width: 7vmin;
        height: 7vmin;
        top: 12vmin;
        left: 12vmin;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/closecopy.svg);
        background-size: contain;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent !important;
        &:active,
        &:focus {
            outline: 0;
            opacity: 0.5;
        }
    }
}

@media screen and (orientation: landscape) {
    #orientationinfo {
        display: none;
    }
}

@media screen and (orientation: portrait) {
    #orientationinfo {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 2000;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: 65%;
        background-position: center center;
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2090%2090%22%20enable-background%3D%22new%200%200%2090%2090%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20points%3D%220%2C0%200%2C0%200%2C0%20%22%3E%3C/polygon%3E%3Cg%3E%3Cpath%20d%3D%22M71.545%2C48.145h-31.98V20.743c0-2.627-2.138-4.765-4.765-4.765H18.456c-2.628%2C0-4.767%2C2.138-4.767%2C4.765v42.789%20%20%20c0%2C2.628%2C2.138%2C4.766%2C4.767%2C4.766h5.535v0.959c0%2C2.628%2C2.138%2C4.765%2C4.766%2C4.765h42.788c2.628%2C0%2C4.766-2.137%2C4.766-4.765V52.914%20%20%20C76.311%2C50.284%2C74.173%2C48.145%2C71.545%2C48.145z%20M18.455%2C16.935h16.344c2.1%2C0%2C3.808%2C1.708%2C3.808%2C3.808v27.401H37.25V22.636%20%20%20c0-0.264-0.215-0.478-0.479-0.478H16.482c-0.264%2C0-0.479%2C0.214-0.479%2C0.478v36.585c0%2C0.264%2C0.215%2C0.478%2C0.479%2C0.478h7.507v7.644%20%20%20h-5.534c-2.101%2C0-3.81-1.709-3.81-3.81V20.743C14.645%2C18.643%2C16.354%2C16.935%2C18.455%2C16.935z%20M16.96%2C23.116h19.331v25.031h-7.535%20%20%20c-2.628%2C0-4.766%2C2.139-4.766%2C4.768v5.828h-7.03V23.116z%20M71.545%2C73.064H28.757c-2.101%2C0-3.81-1.708-3.81-3.808V52.914%20%20%20c0-2.102%2C1.709-3.812%2C3.81-3.812h42.788c2.1%2C0%2C3.809%2C1.71%2C3.809%2C3.812v16.343C75.354%2C71.356%2C73.645%2C73.064%2C71.545%2C73.064z%22%3E%3C/path%3E%3Cpath%20d%3D%22M28.919%2C58.424c-1.466%2C0-2.659%2C1.193-2.659%2C2.66c0%2C1.466%2C1.193%2C2.658%2C2.659%2C2.658c1.468%2C0%2C2.662-1.192%2C2.662-2.658%20%20%20C31.581%2C59.617%2C30.387%2C58.424%2C28.919%2C58.424z%20M28.919%2C62.786c-0.939%2C0-1.703-0.764-1.703-1.702c0-0.939%2C0.764-1.704%2C1.703-1.704%20%20%20c0.94%2C0%2C1.705%2C0.765%2C1.705%2C1.704C30.623%2C62.022%2C29.858%2C62.786%2C28.919%2C62.786z%22%3E%3C/path%3E%3Cpath%20d%3D%22M69.654%2C50.461H33.069c-0.264%2C0-0.479%2C0.215-0.479%2C0.479v20.288c0%2C0.264%2C0.215%2C0.478%2C0.479%2C0.478h36.585%20%20%20c0.263%2C0%2C0.477-0.214%2C0.477-0.478V50.939C70.131%2C50.676%2C69.917%2C50.461%2C69.654%2C50.461z%20M69.174%2C51.417V70.75H33.548V51.417H69.174z%22%3E%3C/path%3E%3Cpath%20d%3D%22M45.201%2C30.296c6.651%2C0%2C12.233%2C5.351%2C12.551%2C11.977l-3.033-2.638c-0.193-0.165-0.507-0.142-0.675%2C0.048%20%20%20c-0.174%2C0.198-0.153%2C0.501%2C0.045%2C0.676l3.883%2C3.375c0.09%2C0.075%2C0.198%2C0.115%2C0.312%2C0.115c0.141%2C0%2C0.273-0.061%2C0.362-0.166%20%20%20l3.371-3.877c0.173-0.2%2C0.151-0.502-0.047-0.675c-0.194-0.166-0.508-0.144-0.676%2C0.048l-2.592%2C2.979%20%20%20c-0.18-3.417-1.629-6.605-4.099-9.001c-2.538-2.461-5.877-3.817-9.404-3.817c-0.264%2C0-0.479%2C0.215-0.479%2C0.479%20%20%20C44.72%2C30.083%2C44.936%2C30.296%2C45.201%2C30.296z%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E);
    }
}

@include keyframes(zoom) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(yurayura) {
    0% {
        @include pre(transform, rotate(-20deg));
    }
    100% {
        @include pre(transform, rotate(20deg));
    }
}