*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(opensans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(.woff2) format('opensanseb.woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

::selection {
    background:rgba(0,0,0,0);
}

dl,ul{
    list-style: none;
}
#body{
    overflow: hidden;
    font-family: "Open Sans","Hiragino Kaku Gothic ProN",YuGothic,Meiryo,sans-serif;
}
#container{
    width: 1280px;
    height: 720px;
    position: relative;
}
#timebox{
    white-space: nowrap;
    position: relative;
    width: 100%;
    height: 580px;
    #mmc{
    margin-left: 30px;
    }
    #configbut{
        position: absolute;
        top: 10px;
        left: 10px;
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(../images/gear.svg);
        opacity: 0.2;
        cursor: pointer;
        border-radius: 50%;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0)!important;
        &:active,&:focus{
            outline: 0;
            opacity: 1;
        }
    }
}
#endbox{
    position: absolute;
    top: 90px;
    left: 0;
    width: 205px;
    text-align: center;
    background-color: #333333;
    color: #fff;
    padding-top: 10px;
    border-radius: 0 30px;
    font-family: 'Open sans';
    .subd{
    font-size: 40px;
    font-weight: bold;
    }
    #endnum{
    height: 200px;
    line-height: 200px;
    font-size: 150px;
    }
}
ul#standset{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: 0;
    li{
        flex-grow: 1;
        position: relative;
        line-height: 120px;
        font-size: 90px;
        padding: 5px 20px 0;
        font-weight: bold;
        color: rgba(51, 51, 51, 0.2);
        &.byRignt{
            text-align: right;
        }
        &.active{
            border-bottom: 10px solid #f8ff52;
        }
        span.active{
            color: #333333;
        }
    }
}
ul#dotindex{
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    li{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgba(51, 51, 51, 0.2);
        margin: 20px;
        &.active{
            background-color: #333333;
        }
    }
}
#belt{
    height: 300px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 20px;
    text-align: center;
    //line-height: 300px;
    z-index: 100;
}
#console{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #333333;
    width: 600px;
    height: 700px;
    color: #fff;
    z-index: 200;
    border-radius: 50px;
    border: 8px solid #fff;
    padding: 20px;
    font-size: 25px;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.35);

    dl dt{
        padding: 20px 0 10px;
        font-size: 25px;
        line-height: 25px;
    }
    hr{
        margin: 20px 0 0;
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: #454545;
    }
                .flipup,.flipdown{
                    text-align: center;
                    &:before{
                        content: "";
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                    }
                }
                .flipup{
                    &:before{
                        border-width:0 20px 20px 20px;
                        border-color: transparent transparent #fff transparent;
                    }
                    
                }
                .flipdown{
                    &:before{
                        border-width:20px 20px 0 20px;
                        border-color:#fff transparent transparent transparent;
                    }
                    
                }
                .flipnum{
                    background-color: #fff;
                    font-size: 80px;
                    line-height: 80px;
                    text-align: center;
                    height: 80px;
                    width: 50px;
                    border-radius: 10px;
                    color: #000;
                    margin: 20px 5px;
                    position: relative;
                    overflow: hidden;
                    display: inline-block;
                    font-family: 'Open Sans';
                    font-weight: 800;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 50%;
                        width: 100%;
                        border-bottom: 3px solid rgba(0,0,0,0.3);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0, 0, 0, 0.2)));
                    }
                }
    
.togglebase{
    display: inline-block;
    width: 120px;
    height: 60px;
    background-color: #343434;
    border-radius: 30px;
    border: 4px solid #fff;
    padding-left: 30px;
    position: relative;
    transition:background-color 0.3s ease 0s;
}
.togglebase.active{
    background-color: #fff;
}
.togglebase .togglenob{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    left: 50%;
    top: -4px;
    transition:left 0.3s ease 0s;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.23);
}

.togglebase.active .togglenob{
    left: 0;
}
   ul#timeAndEnd{
        display: flex;
        justify-content:space-around;
        &>li{
            flex-grow: 1; 
        }
    }
    #gametime{
        ul{
            display: flex;
            justify-content: center;
            li{
            }
        }
    }
    #orderofplay{
        ul{
            display: flex;
            justify-content: center;
            li{
                width: 160px;
                border: 2px solid #fff;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-left: none;
                &:first-child{
                   border-left: 2px solid #fff;
                    border-radius: 10px 0 0 10px;
                }
                &:nth-last-of-type(1){
                    border-radius: 0 10px 10px 0;
                }
            }
        }
    }
    #arrowsup{
        ul{
            display: flex;
            justify-content: center;
            li{
                width: 160px;
                border: 2px solid #fff;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-left: none;
                &:first-child{
                   border-left: 2px solid #fff;
                    border-radius: 10px 0 0 10px;
                }
                &:nth-last-of-type(1){
                    border-radius: 0 10px 10px 0;
                }
            }
        }
    }
    #closeconfig{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 5px;
        right: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/close.svg);
        cursor: pointer;
        border-radius: 50%;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0)!important;
        &:active,&:focus{
            outline: 0;
            background-color: #c7c7c7;
        }
    }
    #setConfigbut{
        position: absolute;
        width: 120px;
        height: 120px;
        bottom: 20px;
        right: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/clock.svg);
        cursor: pointer;
        opacity: 1;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0)!important;
        &:active,&:focus{
            outline: 0;
            opacity: 0.3;
        }
    }
}
