<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>archery timer</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/flipclock.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/flipclock.js"></script>
    <script src="js/howler.js"></script>
    <script src="js/dot-matrix.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <div id="app">
        <div id="default" v-if="consoleObj.timermode=='default'" v-bind:class="background">
            <div class="ondisplayCtrl" v-show="consoleObj.onCtrl">
                <ul>
                    <li class="rep" v-bind:class="repbut" v-on:click="reset()"> </li>
                    <li class="playpause" v-bind:class="playbut" v-on:click="playpause()"> </li>
                    <li class="next" v-bind:class="nextbut" v-on:click="nextEnd()"> </li>
                </ul>
            </div>
            <div class="endbox" id="defaultBox">
                <div class="subd">END</div>
                <div id="endnumWrapper">
                    <div id="endnum" class="endnum"></div>
                    <ul class="standtip r">
                        <li v-for="n in initGameProperty.arrowsUp" v-bind:class="{active:(status.time%initGameProperty.arrowsUp)+1 <= n}"></li>
                    </ul>
                </div>
                <div id="dropDown" class=""></div>
                <div id="playlamp">
                    <div id="lamp1"></div>
                    <div id="lamp2"></div>
                </div>
                <div id="dotStatus"></div>
                <div id="dotStand" class="dotstand"></div>
            </div>
            <div id="timebox">
                <div id="inner">
                    <div class="clock"></div>
                    <div class="flipmask"></div>
                </div>
            </div>
        </div>
        <div id="tournament" v-if="consoleObj.timermode=='tournament'" v-bind:class="background">
            <div id="tournament-timebox">
                <div class="clock"></div>
                <div class="flipmask"></div>
                <div id="tournamentDropDown" :class="status.stand==1||status.stand==0?'l':'r'"></div>
            </div>
            <div id="tournamentMatrixBase">
                <div id="remdot1" class="remtimebox t1"></div>
                <div id="dotlamp1" class="dotlamp l1"></div>
                <div id="remdot2" class="remtimebox t2"></div>
                <div id="dotlamp2" class="dotlamp l2"></div>
                <div class="tnum l">TARGET1</div>
                <div class="tnum r">TARGET2</div>
                <div class="tournament_endbox">
                    <div class="subd">SET</div>
                    <ul class="standtip l">
                        <li v-for="n in (initGameProperty.arrowsUp/2)" v-bind:class="{active:status.time>=(initGameProperty.firstStand==1?2*n-1:2*n)+((display.end-1)*initGameProperty.arrowsUp)}"></li>
                    </ul>
                    <ul class="standtip r">
                        <li v-for="n in (initGameProperty.arrowsUp/2)" v-bind:class="{active:status.time>=(initGameProperty.firstStand==2?2*n-1:2*n)+((display.end-1)*initGameProperty.arrowsUp)}"></li>
                    </ul>
                    <div id="endnum" class="endnum"></div>
                </div>
            </div>
            <div id="t1but" class="fbut l" v-if="(consoleObj.timermode != 'default'&&status.gameStatus == 'Standby')" :class="{active:consoleObj.tournament.firstStand==1}" v-on:click="changeFirstShooter(1)"></div>
            <div id="t2but" class="fbut r" v-if="(consoleObj.timermode != 'default'&&status.gameStatus == 'Standby')" :class="{active:consoleObj.tournament.firstStand==2}" v-on:click="changeFirstShooter(2)"></div>
            <div class="ondisplayCtrl" v-show="consoleObj.onCtrl">
                <ul>
                    <li class="rep" v-bind:class="repbut" v-on:click="reset()"> </li>
                    <li class="playpause" v-bind:class="playbut" v-on:click="playpause()"> </li>
                    <li class="next" v-bind:class="nextbut" v-on:click="nextEnd()"> </li>
                </ul>
            </div>
        </div>
        <div id="configbut" v-on:click="showConfig=!showConfig" v-bind:class="{active:showConfig,tournament:consoleObj.timermode=='tournament'}">
            <div class="butInner"></div>
        </div>
        <div id="timerconfigbut" v-on:click="showTimerConfig=!showTimerConfig" v-bind:class="{active:showTimerConfig,tournament:consoleObj.timermode=='tournament'}" v-show="consoleObj.timermode!='tournament'&&(status.gameStatus=='Standby'||status.gameStatus=='ArrowsUp')">
            <div class="butInner"></div>
        </div>
        <div id="keyinfobut" v-on:click="showKeyinfo=!showKeyinfo" v-bind:class="consoleObj.timermode">
            <div class="inner"></div>
        </div>
        <div id="belt" v-if="toast.visibleBelt">
            <div v-html="toast.toastMessage"> </div>
        </div>
        <div id="timerconsole" v-show="showTimerConfig" class="console">
            <dl style="width:60%"> <dt>
                    行射補充時間
                        </dt>
                <dd id="addgametime">
                    <ul>
                        <li v-for="n in 3" v-bind:id="'addgametime'+n">
                            <div class="flipup" v-on:click="incredecre(true,'addgametime',n)"> </div>
                            <div class="flipnum" v-text="consoleObj.addgametime['digit'+n]"> 0 </div>
                            <div class="flipdown" v-on:click="incredecre(false,'addgametime',n)"> </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <div id="setTimerConfigbut" class="setconfig" v-on:click="setSpecialTimer()"></div>
            <div id="closeTimerconfig" class="closeconfig" v-on:click="showTimerConfig=false"></div>
        </div>
        <div id="console" v-show="showConfig" class="console">
            <div class="default" v-if="consoleObj.timermode=='default'">
                <ul id="timeAndEnd">
                    <li>
                        <dl> <dt>
                    競技時間
                        </dt>
                            <dd id="gametime">
                                <ul>
                                    <li v-for="n in 3" v-bind:id="'gametime'+n">
                                        <div class="flipup" v-on:click="incredecre(true,'gametime',n)"> </div>
                                        <div class="flipnum" v-text="consoleObj.gametime['digit'+n]"> 0 </div>
                                        <div class="flipdown" v-on:click="incredecre(false,'gametime',n)"> </div>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl> <dt>
                    用意時間
                        </dt>
                            <dd id="gametime">
                                <ul>
                                    <li v-for="n in 2" v-bind:id="'readytime'+n">
                                        <div class="flipup" v-on:click="incredecre(true,'readytime',n)"> </div>
                                        <div class="flipnum" v-text="consoleObj.readytime['digit'+n]"> 0 </div>
                                        <div class="flipdown" v-on:click="incredecre(false,'readytime',n)"> </div>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl> <dt>
                    エンド数
                    </dt>
                            <dd id="endnums">
                                <ul>
                                    <li>
                                        <div class="flipup" v-on:click="incredecre(true,'endnum',0)"> </div>
                                        <div style="text-align:center">
                                            <div class="flipnum" v-text="consoleObj.endnum.digit2"> </div>
                                            <div class="flipnum" v-text="consoleObj.endnum.digit1"> </div>
                                        </div>
                                        <div class="flipdown" v-on:click="incredecre(false,'endnum',0)"> </div>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </li>
                </ul>
                <hr>
                <dl> <dt>
                        立ち順序
                    </dt>
                    <dd id="orderofplay">
                        <ul>
                            <li :class="{active:consoleObj.orderOfPlay==1}" v-on:click="consoleObj.orderOfPlay=1;consoleObj.arrowsUp=1"> No split </li>
                            <li :class="{active:consoleObj.orderOfPlay==2}" v-on:click="consoleObj.orderOfPlay=2"> AB : CD </li>
                            <li :class="{active:consoleObj.orderOfPlay==3}" v-on:click="consoleObj.orderOfPlay=3"> AB : CD : EF </li>
                        </ul>
                    </dd> <dt>
                        矢取り間隔
                    </dt>
                    <dd id="arrowsup">
                        <ul>
                            <li :class="{active:consoleObj.arrowsUp==1}" v-on:click="consoleObj.arrowsUp=1"> Per 1play </li>
                            <li :class="{active:consoleObj.arrowsUp==2}" v-on:click="consoleObj.arrowsUp=(consoleObj.orderOfPlay!=1)?2:consoleObj.arrowsUp"> Per 2play </li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="tournament" v-if="consoleObj.timermode=='tournament'">
                <dl> <dt>
                        トーナメント種別
                    </dt>
                    <dd id="tournamentkind">
                        <ul>
                            <li :class="{active:consoleObj.tournament.mode=='single'}" v-on:click="consoleObj.tournament.mode='single'"> SINGLE </li>
                            <li :class="{active:consoleObj.tournament.mode=='team'}" v-on:click="consoleObj.tournament.mode='team'"> TEAM </li>
                            <li :class="{active:consoleObj.tournament.mode=='mixed'}" v-on:click="consoleObj.tournament.mode='mixed'"> MIXED </li>
                        </ul>
                    </dd> <dt>
                        ファーストシューター
                    </dt>
                    <dd id="arrowsup">
                        <ul :style="{opacity:status.gameStatus==''||status.gameStatus=='Standby'?1:0.3}">
                            <li :class="{active:consoleObj.tournament.firstStand==1}" v-on:click="changeFirstShooter(1)"> TARGET1 </li>
                            <li :class="{active:consoleObj.tournament.firstStand==2}" v-on:click="changeFirstShooter(2)"> TARGET2 </li>
                        </ul>
                    </dd>
                </dl>
                <div class="shootofftoggle">
                        <div id="shootofftoggle" class="togglebase" v-bind:class="{active:consoleObj.tournament.shootOff}" v-on:click="consoleObj.tournament.shootOff=!consoleObj.tournament.shootOff">
                            SHOOT OFF
                            <div class="togglenob"></div>
                        </div>
                </div>
            <div id="soundOnSwitchingBack" class="cbaseback">
                <div id="soundOnSwitching" class="cbase switching" :class="{active:consoleObj.tournament.soundOnSwitching}" @click="consoleObj.tournament.soundOnSwitching = !consoleObj.tournament.soundOnSwitching"></div>
            </div>
            </div>
            
            <hr>
            <div class="ctrltoggle">
                        <div id="ctrltoggle" class="togglebase" v-bind:class="{active:consoleObj.onCtrl}" v-on:click="consoleObj.onCtrl=!consoleObj.onCtrl">
                            CONTROL UI
                            <div class="togglenob"></div>
                        </div>
            </div>
            
            <div class="backtitler set">Set&amp;Standby</div>
            <div id="setConfigbut" v-on:click="setConfig()" class="setconfig"></div>
            <!--<svg viewBox="0 0 60 60" class="coloseconfigBac">
                <defs>
                    <path id ="tp" d="M 30,30 m 0,-20 a 20,20 0 1,1 -1,0 h 1" stroke="none" fill="none"/>
                </defs>
                    <use xlink:href="#tp"/>
                    <text fill="#fff" font-family="sans-serif" font-size="10" font-weight="bold">
                    <textPath xlink:href="#tp" startOffset="20%" stroke="#626262" stroke-width="5">
                        Close
                        </textPath>
                    <textPath xlink:href="#tp" startOffset="20%">
                        Close
                        </textPath>
                    </text>
                </svg>-->
            <div class="backtitler close">Close</div>
            <div id="closeconfig" v-on:click="showConfig=false;showAdvanced=false" class="closeconfig"> </div>
            <div class="backtitle selectmode">Toggle {{consoleObj.timermode=='tournament'?'LANKING':'TOURNAMENT'}}</div>
            <div id="selectmode" @click="consoleObj.timermode=consoleObj.timermode=='default'?'tournament':'default'" v-bind:class="consoleObj.timermode"></div>
            
            <div class="backtitle advancedtitle"> Advanced setting</div>
            <div id="advanced" class="cbase advanced" :class="{active:showAdvanced}" @click="showAdvanced = !showAdvanced"></div>
            
            <div id="advancedBase" v-if="(showConfig&&showAdvanced)">
                <dl> 
                    <dt>
                        Background-Color<br>(Notice indication[BLUE:YELLOW:RED])
                    </dt>
                    <dd>
                    
            <div id="cblack" v-on:click="consoleObj.background='black'" class="cbase cblack" :class="{active:consoleObj.background=='black'}"></div>
            <div id="cwhite" v-on:click="consoleObj.background='white'" class="cbase cwhite" :class="{active:consoleObj.background=='white'}"></div>
            <div id="ccolor" v-on:click="consoleObj.canBGchange=!consoleObj.canBGchange" class="cbase ccolor" :class="{active:consoleObj.canBGchange}"></div>
                    </dd>
                    
                    <dt>
                        Sound
                    </dt>
                    <dd id="selectSound">
                        <ul>
                            <li :class="{active:consoleObj.sound=='hone.mp3'}" v-on:click="setSound('hone.mp3')"> WorldCup HONE </li>
                            <li :class="{active:consoleObj.sound=='beepset.mp3'}" v-on:click="setSound('beepset.mp3')"> Tone BEEP </li>
                        </ul>
                    </dd>
                    <hr>
                    <dt>
                        About 'Archery timer'
                    </dt>
                    <dd>
                                <div id="copy" v-on:click="showCopy(true)" class="copybut"></div>
</dd>
                </dl>
            </div>
            <!--
                <div id="tabs">
                    <div id="standardRound" class="tab"></div>
                    <div id="tournamentRound" class="tab"></div>
                </div>--></div>
        <div id="keyinfo" v-if="showKeyinfo">
            <ul>
                <div>Shortcut key reference</div>
                <li><i>ENTER</i>Countdown start >> Next stand >> Ceasefire >>Next END</li>
                <li><i>P</i>Pause and Redume</li>
                <li><i>></i>Next Stand(at "Standby")</li>
                <li><i>R</i>Return to the beginning of the round</li>
                <hr>
                <div>Selection of first target at tournament</div>
                <li><i>&larr;</i>TARGET1 to first</li>
                <li><i>&rarr;</i>TARGET2 to first</li>
            </ul>
            <div id="closeKeyinfo" class="closekeyinfo" v-on:click="showKeyinfo=false"></div>
        </div>
        <div id="orientationinfo"></div>
        <div id="isAC" v-if="isAC" @click="setFullScreen()">
            <div> Ditected Android chrome. <img src="images/and.svg"> Tap to fullscreen mode. </div>
        </div>
        <div id="splash">
            <div>
                <div>ARCHERY TIMER<span>v0.0.12</span></div> Presented by BALLS <img src="images/tama.svg"> <span>Copyrights &copy; BALLS All Rights Reserved.</span> </div>
            <div id="closecopy" class="closecopy" v-on:click="showCopy(false)" v-if="isShowCopy"></div>
        </div>
    </div>
</body>

</html>